In [1]:
import pandas as pd
import pymysql
import pymysql.cursors
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Text, String, DateTime,Float, Boolean, Date, Interval

In [2]:
import pickle
import os
import numpy as np

import time
import json
import re
os.chdir(r'/home/sophie/Documents/Certif')

pd.options.display.max_columns = 10
pd.set_option('expand_frame_repr', False)

In [3]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}?charset=utf8mb4"
                       .format(user="sophie",
                               pw="Simplon",
                               db="googleMerchandise"), encoding="utf8")

### Lecture fichier pickle toutes infos traitées sauf hits

In [4]:
try:
    pickle_off = open(r"/home/sophie/Documents/Certif/SavePickle/data1_test25p.pickle","rb")
    data1 = pickle.load(pickle_off)
    pickle_off.close()
except:
    print("il y a eu 1 Pb avec data1_test25p.pickle")
    pass

In [8]:
data1.shape

(100397, 24)

In [7]:
data1.dtypes

channelGrouping                    object
date                       datetime64[ns]
fullVisitorId                      object
socialEngagementType               object
visitId                            object
visitNumber                         int64
visitStartTime                      int64
browser                            object
deviceCategory                     object
operatingSystem                    object
continent                          object
subContinent                       object
country                            object
region                             object
city                               object
visits                              int64
newVisits                         float64
bounces                           float64
hits                                int64
pageviews                         float64
sessionQualityDim                   int64
timeOnSite                        float64
totalTransactionRevenue           float64
transactions                      float64
dtype: object

In [9]:
data1.head()

  channelGrouping       date        fullVisitorId  socialEngagementType     visitId  ...  pageviews  sessionQualityDim timeOnSite totalTransactionRevenue transactions
0        Referral 2018-05-02  3274048762107183438  Not Socially Engaged  1525286298  ...        3.0                  1       23.0                     NaN          NaN
1        Referral 2018-07-22  3102818095144736797  Not Socially Engaged  1532279455  ...       41.0                 66      995.0              67340000.0          1.0
2  Organic Search 2018-05-10  2003235287352658956  Not Socially Engaged  1525944774  ...        1.0                  1        NaN                     NaN          NaN
3      Affiliates 2018-07-24  7907909999860357749  Not Socially Engaged  1532496099  ...        1.0                  1        NaN                     NaN          NaN
4          Social 2018-05-13  4549822374099137429  Not Socially Engaged  1526216409  ...        5.0                  1       80.0                     NaN          NaN

[5 rows x 24 columns]

### Constitution du df gsSession pour export to SQL

In [5]:
gsSession = data1[["visitId", "fullVisitorId", "date", "channelGrouping", "visitNumber", "visits", "newVisits", "bounces", "hits", "pageviews", "sessionQualityDim", "timeOnSite"]]

In [6]:
gsSession.head()

      visitId        fullVisitorId       date channelGrouping  visitNumber  ...  bounces  hits  pageviews  sessionQualityDim  timeOnSite
0  1525286298  3274048762107183438 2018-05-02        Referral            1  ...      NaN     3        3.0                  1        23.0
1  1532279455  3102818095144736797 2018-07-22        Referral            1  ...      NaN    52       41.0                 66       995.0
2  1525944774  2003235287352658956 2018-05-10  Organic Search            1  ...      1.0     1        1.0                  1         NaN
3  1532496099  7907909999860357749 2018-07-24      Affiliates            1  ...      1.0     1        1.0                  1         NaN
4  1526216409  4549822374099137429 2018-05-13          Social            1  ...      NaN     8        5.0                  1        80.0

[5 rows x 12 columns]

In [7]:
gsSession.dtypes

visitId                      object
fullVisitorId                object
date                 datetime64[ns]
channelGrouping              object
visitNumber                   int64
visits                        int64
newVisits                   float64
bounces                     float64
hits                          int64
pageviews                   float64
sessionQualityDim             int64
timeOnSite                  float64
dtype: object

In [8]:
gsSession.describe()

         visitNumber    visits  newVisits  bounces           hits      pageviews  sessionQualityDim    timeOnSite
count  100397.000000  100397.0    71527.0  45657.0  100397.000000  100358.000000      100397.000000  54507.000000
mean        2.523392       1.0        1.0      1.0       5.231591       4.212758           4.859568    267.957051
std        10.702557       0.0        0.0      0.0       9.099722       6.314126          13.006209    479.370579
min         1.000000       1.0        1.0      1.0       1.000000       1.000000           1.000000      1.000000
25%         1.000000       1.0        1.0      1.0       1.000000       1.000000           1.000000     32.000000
50%         1.000000       1.0        1.0      1.0       2.000000       2.000000           1.000000     91.000000
75%         2.000000       1.0        1.0      1.0       6.000000       5.000000           1.000000    272.000000
max       522.000000       1.0        1.0      1.0     349.000000     196.000000          97.000000  14125.000000

In [9]:
gsSession.shape

(100397, 12)

In [10]:
def session_save(picke_path, objects):
    pickling_on = open(picke_path,"wb")
    try:
        pickle.dump(objects, pickling_on)
        print("session_save success\n")
    except:
        print("session_save failed\n")
    finally:
        pickling_on.close()

In [11]:
session_save(r'SavePickle/gsSession.pickle', gsSession)

session_save success

## Constitution du df gstransactions pour export to SQL

In [12]:
gstransactions = data1[[ "fullVisitorId", "visitId", "transactions", "totalTransactionRevenue"]]

In [13]:
gstransactions.head()

         fullVisitorId     visitId  transactions  totalTransactionRevenue
0  3274048762107183438  1525286298           NaN                      NaN
1  3102818095144736797  1532279455           1.0               67340000.0
2  2003235287352658956  1525944774           NaN                      NaN
3  7907909999860357749  1532496099           NaN                      NaN
4  4549822374099137429  1526216409           NaN                      NaN

In [14]:
gstransactionsnn = gstransactions.dropna()

In [15]:
gstransactionsnn.shape

(1125, 4)

In [16]:
gstransactionsnn.dtypes

fullVisitorId               object
visitId                     object
transactions               float64
totalTransactionRevenue    float64
dtype: object

In [17]:
gstransactionsnn['fullVisitorId'].value_counts()

8665078014499866389    5
5260771635527148522    3
9541160650278507054    3
8565225000511891606    3
7366352801264971447    3
                      ..
0589602500608267407    1
0438250177572890948    1
7727360225283353304    1
6928281549285125714    1
3412775320507701444    1
Name: fullVisitorId, Length: 1092, dtype: int64

In [18]:
gstransactionsnn.head()

           fullVisitorId     visitId  transactions  totalTransactionRevenue
1    3102818095144736797  1532279455           1.0               67340000.0
26   1768392557256980930  1537806898           1.0              103750000.0
209  8843156621996255717  1526417770           1.0               67540000.0
232  6332943152740371848  1539468149           1.0               32990000.0
313  0962429651767725424  1525728671           1.0               51080000.0

In [15]:
     
session_save('SavePickle/gstransactionsnn.pickle', gstransactionsnn)

session_save success

### Constitution du df gsconnection

In [16]:
gsconnection = data1[["fullVisitorId", "visitId", "deviceCategory", "operatingSystem", "browser" ]]

In [17]:
gsconnection.shape

(100397, 5)

In [18]:
gsconnectiondd = gsconnection.drop_duplicates(subset = 'fullVisitorId', keep = 'last')

In [19]:
gsconnectiondd.shape

(88888, 5)

In [20]:
gsconnectiondd.head()

         fullVisitorId     visitId deviceCategory operatingSystem            browser
0  3274048762107183438  1525286298        desktop       Macintosh             Chrome
1  3102818095144736797  1532279455        desktop       Macintosh             Chrome
2  2003235287352658956  1525944774         tablet         Windows  Internet Explorer
3  7907909999860357749  1532496099        desktop         Windows             Chrome
4  4549822374099137429  1526216409        desktop         Windows             Chrome

In [21]:
gsconnectiondd.drop('visitId', axis=1, inplace=True)

/home/sophie/anaconda3/envs/chefdoeuvre/lib/python3.8/site-packages/pandas/core/frame.py:4110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [22]:
gsconnectiondd.dtypes

fullVisitorId      object
deviceCategory     object
operatingSystem    object
browser            object
dtype: object

In [23]:
       
session_save('SavePickle/gsconnectiondd.pickle', gsconnectiondd)

session_save success

## Constitution du df gsvisitorGeo pour export to SQL

In [24]:
gsvisitorGeo = data1[["fullVisitorId", "continent", "subContinent", "country", "region", "city"]]

In [25]:
gsvisitorGeo.shape

(100397, 6)

In [26]:
gsvisitorGeodd = gsvisitorGeo.drop_duplicates(subset='fullVisitorId', keep="last")

In [27]:
gsvisitorGeodd.shape

(88888, 6)

In [28]:
gsvisitorGeodd.dtypes

fullVisitorId    object
continent        object
subContinent     object
country          object
region           object
city             object
dtype: object

In [29]:
        
session_save(r'SavePickle/gsvisitorGeodd.pickle', gsvisitorGeodd)

session_save success

## Export vers MySQL

### Reprise des dataframes

In [49]:
try:
    pickle_off = open(r"SavePickle/gsSession.pickle","rb")
    gsSession = pickle.load(pickle_off)
    pickle_off.close()
except:
    print("il y''a eu 1 Pb avec gsSession.pickle")
    pass

In [50]:
try:
    pickle_off = open(r"SavePickle/gstransactionsnn.pickle","rb")
    gstransactionsnn = pickle.load(pickle_off)
    pickle_off.close()
except:
    print("il y''a eu 1 Pb avec gstransactions.pickle")
    pass

In [51]:
try:
    pickle_off = open(r"SavePickle/gsconnectiondd.pickle","rb")
    gsconnectiondd = pickle.load(pickle_off)
    pickle_off.close()
except:
    print("il y''a eu 1 Pb avec gsconnectiondd.pickle")
    pass

In [52]:
try:
    pickle_off = open(r"SavePickle/gsvisitorGeodd.pickle","rb")
    gsvisitorGeodd = pickle.load(pickle_off)
    pickle_off.close()
except:
    print("il y''a eu 1 Pb avec gsvisitorGeo.pickle")
    pass

In [53]:
try:
    pickle_off = open(r"SavePickle/produits.pickle","rb")
    produits = pickle.load(pickle_off)
    pickle_off.close()
except:
    print("il y''a eu 1 Pb avec produits.pickle")
    pass

In [54]:
try:
    pickle_off = open(r"SavePickle/product_nav.pickle","rb")
    product_nav = pickle.load(pickle_off)
    pickle_off.close()
except:
    print("il y''a eu 1 Pb avec product_nav.pickle")
    pass

In [37]:
product_nav.drop('date', axis=1, inplace=True)

In [38]:
product_nav.head()

         fullVisitorId     visitId     tous_skus
0  3274048762107183438  1525286298           NaN
1  3102818095144736797  1532279455  GGOEGXXX1041
1  3102818095144736797  1532279455  GGOEGXXX1042
1  3102818095144736797  1532279455  GGOEGXXX1043
1  3102818095144736797  1532279455  GGOEGXXX1044

In [39]:
%who_ls DataFrame

['data1',
 'gsSession',
 'gsconnection',
 'gsconnectiondd',
 'gstransactions',
 'gstransactionsnn',
 'gsvisitorGeo',
 'gsvisitorGeodd',
 'product_nav',
 'produits']

In [52]:
gsSession.to_sql('session', con = engine, if_exists = 'replace',
                 chunksize = 1000, 
                 index = False, 
                 dtype = {"visitId": Integer, "fullVisitorId": String(25),
                   "date": Date, "channelGrouping": String(25), "visitNumber": Integer,
                    "visits": Integer, "newVisits": Integer, "bounces": Integer, "hits": Integer, 
                    "pageviews": Integer, "sessionQualityDim": Integer, "timeOnSite": Integer})

In [53]:
gstransactionsnn.to_sql('transaction', con = engine, if_exists = 'replace',
                        chunksize = 1000, 
                        index=False, 
                        dtype = {"fullVisitorId": String(25), "visitId": Integer,
                   "totalTransactionRevenue": Float, "transactions": Integer})

In [54]:
gsconnectiondd.to_sql('connection', con = engine, if_exists = 'replace',
                      chunksize = 1000,
                      index=False,
                      dtype = {"fullVisitorId": String(25), "deviceCategory": String(15), "operatingSystem": String(25),
                      "browser": String(65)})

In [55]:
gsvisitorGeodd.to_sql('visitor_geo', con = engine, if_exists = 'replace',
                      chunksize = 1000,
                      index=False,
                      dtype = {"fullVisitorId": String(25), "continent": String(25), "subContinent": String(25),
                      "country": String(25), "region": String(45),"city": String(30)})

In [56]:
produits.to_sql('product', con = engine, if_exists = 'replace',
                      chunksize = 1000,
                      index=False,
                      dtype = {"productSKU": String(25), "v2ProductName": String(65), 
                      "v2ProductCategory": String(65), "productPrice": Integer})

In [57]:
product_nav.to_sql('product_nav', con = engine, if_exists = 'replace',
                      chunksize = 1000,
                      index=False,
                      dtype = {"fullVisitorId": String(25), "visitId": Integer, "tous_skus": String(25)})

In [40]:
print (engine.table_names())

['connection', 'product', 'product_nav', 'session', 'transaction', 'visitor_geo']

In [44]:
result = engine.execute("SELECT * from googleMerchandise.product limit 10")
for row in result:
    print("v2ProductName", row['v2ProductName'])
#connection.close()

v2ProductName Kiosk T-Shirt
v2ProductName Google Laptop and Cell Phone Stickers
v2ProductName Google Rucksack
v2ProductName Gift Card - $25.00
v2ProductName Gift Card - $250.00
v2ProductName Android Wool Heather Cap Heather/Black
v2ProductName Google Stylus Pen w/ LED Light
v2ProductName NestÂ® Cam Indoor Security Camera - USA
v2ProductName NestÂ® Learning Thermostat 3rd Gen-USA - Stainless Steel
v2ProductName Waze Women's Short Sleeve Tee

In [43]:
query = engine.execute("SELECT * from googleMerchandise.session LIMIT 10")
for i in query:
    print(i)

(1, 1525286298, '3274048762107183438', datetime.date(2018, 5, 2), 'Referral', 1, 1, 1, None, 3, 3, 1, 23)
(2, 1532279455, '3102818095144736797', datetime.date(2018, 7, 22), 'Referral', 1, 1, 1, None, 52, 41, 66, 995)
(3, 1525944774, '2003235287352658956', datetime.date(2018, 5, 10), 'Organic Search', 1, 1, 1, 1, 1, 1, 1, None)
(4, 1532496099, '7907909999860357749', datetime.date(2018, 7, 24), 'Affiliates', 1, 1, 1, 1, 1, 1, 1, None)
(5, 1526216409, '4549822374099137429', datetime.date(2018, 5, 13), 'Social', 1, 1, 1, None, 8, 5, 1, 80)
(6, 1530425574, '1202971010731422173', datetime.date(2018, 6, 30), 'Social', 1, 1, 1, 1, 1, 1, 1, None)
(7, 1536113218, '2019305767708790747', datetime.date(2018, 9, 4), 'Paid Search', 1, 1, 1, None, 2, 2, 1, 91)
(8, 1533329572, '128883584343040357', datetime.date(2018, 8, 3), 'Direct', 1, 1, 1, None, 174, 88, 56, 2085)
(9, 1527786285, '791821463578040441', datetime.date(2018, 5, 31), 'Organic Search', 5, 1, None, None, 3, 2, 1, 17)
(10, 1531507593, '7655660844621480615', datetime.date(2018, 7, 13), 'Direct', 2, 1, None, None, 10, 10, 59, 268)